<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Header</title>
</head>
<body>
    <header class="header" style="background-color:rgb(136, 221, 203) ;">
        <h1 style="color: blue;">This is Header for form</h1>
        <nav class="navbar ">
            <ul style="display: flex;list-style-type: none; gap:20px;">
                <li><a href="/">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>